<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{ifset #title}{include #title}{else}Error{/ifset}</title>
		<link href="/css/crit.min.css" rel="stylesheet" />
        <script type="text/javascript">
            function loadCSS(a,d,f,g){ var b=window.document.createElement("link");var c=d||window.document.getElementsByTagName("script")[0];var e=window.document.styleSheets;b.rel="stylesheet";b.href=a;b.media="only x";if(g){ b.onload=g }c.parentNode.insertBefore(b,c);b.onloadcssdefined=function(h){ var k;for(var j=0;j<e.length;j++){ if(e[j].href&&e[j].href===b.href){ k=true } }if(k){ h() }else{ setTimeout(function(){ b.onloadcssdefined(h) }) } };b.onloadcssdefined(function(){ b.media=f||"all" });return b };
            loadCSS("/css/non-crit.min.css");
            loadCSS("/css/toastr.min.css");
        </script>
        <noscript>
            <link href="{$baseUri}/css/non-crit.min.css" rel="stylesheet" />
            <link href="{$baseUri}/css/toastr.min.css" rel="stylesheet" />
        </noscript>
               
        {block head}{/block}
    </head>
    <body class="error-page">
        <div class="main-flex">
            <header class="main-header">
                
            </header>
            
            <main class="main-main">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-offset-3 col-md-6 v-offset-top-3">
							{ifset #content}
								{include #content}
							{/ifset}
						</div>
					</div>
				</div>
            </main>
            
			<footer class="main-footer">
                
            </footer>
        </div>
        <ul id="flashContainer">
            <li n:foreach="$flashes as $flash" data-flash-type="{$flash->type}">{$flash->message}</li>
        </ul>
        <script type="text/javascript" src="/js/front-libs.min.js{$version|noescape}"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js{$version|noescape}"></script>
        <script type="text/javascript" src="/js/front{if !$develMode}.min{/if}.js{$version|noescape}"></script>
        {block scripts}{/block}
    </body>
</html>
