parameters:
	version: '20160916'
	siteName: 'Micropage Sandbox'
	pages: {
		1: {
			'slug': 'poloha', 
			'title': 'Poloha', 
			'desc': '', 
			'template': 'map', 
			'menuItem': 'Poloha', 
			'navigation': 'main', 
			'menuOrder': 1,
			'customParams': {}
		},
		2: {
			'slug': 'kontakty',
			'title': 'Kontakty',
			'desc': '',
			'template': 'contact',
			'menuItem': 'Kontakty',
			'navigation': 'main',
			'menuOrder': 2,
			'customParams': {}
		},
		3: {
			'slug': 'fotogalerie',
			'title': 'Fotogalerie',
			'desc': '',
			'template': 'gallery',
			'menuItem': 'Fotogalerie',
			'navigation': 'main',
			'menuOrder': 3,
			'customParams': {'gallery': \App\Model\Web::getGalleryImages()}
		},
		4: {
			'slug': 'dulezite-informace',
			'title': 'Důležité informace',
			'desc': '',
			'template': 'info',
			'menuItem': 'Důležité informace',
			'navigation': 'main',
			'menuOrder': 4,
			'customParams': {}
		},
		5: {
			'slug': 'denne', 
			'title': 'Parkuji denně', 
			'desc': '', 
			'template': 'parkingDaily', 
			'menuItem': 'Parkuji denně', 
			'navigation': 'parking', 
			'menuOrder': 1,
			'customParams': {'leftBubbleText': 'Parkuji<br/>denně'}
		},
		6: {
			'slug': 'nekolik-dni',
			'title': 'Parkování na několik dní',
			'desc': '',
			'template': 'parkingSeveralDays',
			'menuItem': 'Chci zaparkovat na několik dní',
			'navigation': 'parking',
			'menuOrder': 2,
			'customParams': {'leftBubbleText': 'Chci zaparkovat na<br/>několik dní'}
		},
		7: {
			'slug': 'jednorazova-akce',
			'title': 'Parkování pro události, kongresy a firemní akce',
			'desc': '',
			'template': 'parkingEvent',
			'menuItem': 'Pořádám jednorázovou akci',
			'navigation': 'parking',
			'menuOrder': 3,
			'customParams': {'disableRightPanel': true, 'leftBubbleText': 'Pořádám<br/>jednorázovou akci'}
		},
		8: {
			'slug': 'nepravidelne',
			'title': 'Dobíjecí parkovací karta',
			'desc': '',
			'template': 'parkingCard',
			'menuItem': 'Parkuji často, ale nepravidelně',
			'navigation': 'parking',
			'menuOrder': 4,
			'customParams': {'leftBubbleText': 'Parkuji často,<br/>ale nepravidelně'}
		},
		9: {
			'slug': 'jednorazove',
			'title': 'Jednorázové parkování',
			'desc': '',
			'template': 'parkingOneTime',
			'menuItem': 'Jednorázové parkování',
			'navigation': 'parking',
			'menuOrder': 5,
			'customParams': {'leftBubbleText': 'Jednorázové<br/>parkování'}
		}
	}