.gallery{
    display: block;
    width: 100%;
    position: relative;
    &-item{
        display: inline-block;
        margin: 0px 8px 8px 0px;
        position: relative;
        max-width: 100%;
        @include transition(box-shadow $transEaseIn);
        @include itemShadow;
    }
    &-thumb{
        display: inline-block;
        max-width: 100%;
    }
}

a.gallery-item{
    text-decoration: none !important;
    &:hover, &:focus{
        @include transition(box-shadow $transEaseIn);
        @include itemShadowUpper;
    }
}