body{

    *{
        box-sizing: border-box;
        &:after,&:before{ box-sizing: border-box;}
    }
}

.main{
    &-flex{
        width: 100%;
        position: relative;
        min-height: 100vh;
        height: 100%;
        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(wrap);
    }
    &-header, &-main, &-footer{
        display: block;
        width: 100%;
    }

    &-main{
        @include flex-grow(1);
    }

    &-footer{
        @include align-self(flex-end);
    }
}

#flashContainer{
    display: none !important;
}

@include generateVOffsets(12);


.main-main{
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    height: 100%;
    line-height: 1.4;
}

.left-panel{
    background-color: $orange;
    display: block;
    width: 35%;
    color: $white;
    position: relative;
    min-height: calc(100vh - 112px);
    @media(max-width: $md){
        @include order(2);
        display: block;
        width: 100%;
        min-height: auto;
        height: auto;
    }
    &:after{
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 50px 0px 50px 50px;
        border-color: transparent transparent transparent $orange;
        position: absolute;
        z-index: 10;
        display: block;
        top: 245px;
        left: 100%;
        @include transform(translateY(-50px));
        @media(max-width: $xlg){
            border-width: 25px 0px 25px 25px;
            @include transform(translateY(-25px));
        }
        @media(max-width: $md){
            display: none;
        }
    }

    &-content{
        padding: 40px;
        font-weight: 300;
        @media(max-width: $xlg){
            padding: 20px;
        }
    }

}

.left-panel-bubble{
    display: block;
    padding-left: 50px;
    position: relative;
    min-height: 34px;

    &:before{
        content: '';
        width: 34px;
        height: 34px;
        background-color: $white;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        border-radius: 50%;
    }

    &:after{
        content: '';
        width: 17px;
        height: 17px;
        background-color: $white;
        position: absolute;
        top: 17px;
        left: 0px;
        z-index: 9;
    }

    .left-panel-bubble-text{
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.1;
        display: inline-block;
    }
}

.right-panel{
    display: block;
    width: 65%;
    position: relative;
    @media(max-width: $md){
        width: 100%;
        @include order(1);
    }
    &:before{
        content: '';
        width: 100%;
        display: block;
        position: absolute;
        z-index: 0;
        top: 0px;
        left: 0px;
        height: 245px;
        background: url('/img/rozmaryn-xxlg.jpg') no-repeat scroll left top $lightGray;
        background-size: cover;
        @media(max-width: $xlg){
            background: url('/img/rozmaryn-xlg.jpg') no-repeat scroll left top $lightGray;
            background-size: cover;
        }
        @media(max-width: $lg){
            background: url('/img/rozmaryn-lg.jpg') no-repeat scroll left top $lightGray;
            background-size: cover;
        }
        @media(max-width: $md){
            display: none;
        }
    }
    &-content{
        padding: 160px 40px 40px 70px;
        @media(max-width: $xlg){
            padding: 160px 20px 20px 50px; 
        }
        @media(max-width: $md){
            padding: 20px;
        }
    }
}

.right-disabled{
    .right-panel{
        @media(min-width: $md){
            background: url('/img/rozmaryn-lg.jpg') no-repeat scroll top left transparent;
            background-size: cover;
        }
        &:before{
            display: none;
            background: none;
        }
        &-content{
            display: none;
        }
    }
}

.on-homepage{
    .left-panel{
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        height: 100%;
        &:after{
            top: calc(50vh - 56px);
        }
        @media(max-width: $md){
            height: auto;
            display: block;
        }
    }
    .right-panel{
        background: url('/img/rozmaryn-lg.jpg') no-repeat scroll top left transparent;
        background-size: cover;
        &-content{
            display: none;
        }
        &:before{
            display: none;
            background: none;
        }
    }
}

.main-footer{
    background-color: $darkGray;
    color: $white;
    padding: 40px;
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    height: 100%;
    @media(max-width: $md){
        padding: 20px;
    }
    .footer-left, .footer-right{
        width: 50%;
        @media(max-width: $sm){
            width: 100%;
        }
    }
    a{
        color: $white;
        text-decoration: none;
        &:hover, &:focus, &:active{
            text-decoration: underline;
        }
    }
}

.hidden{
    display: none;
}

@media(max-width:$xxs){
    .hidden-xxs{
        display: none !important;
    }
}