body{
    *{
        box-sizing: border-box;
        &:after,&:before{ box-sizing: border-box;}
    }
}

.main{
    &-flex{
        width: 100%;
        position: relative;
        min-height: 100vh;
        height: 100%;
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(wrap);
    }
    &-header, &-main, &-footer{
        display: block;
        width: 100%;
    }

    &-main{
        @include flex-grow(1);
        padding-bottom: 2em;
    }

    &-footer{
        @include align-self(flex-end);
    }
}

#flashContainer{
    display: none !important;
}

@include generateVOffsets(12);
