/* place for sass settings :) write your own */





@mixin generateVOffsets($howMany){
    @for $i from 1 through $howMany{
        .v-offset-top-#{$i} { margin-top: #{$i}em; }
        .v-offset-bottom-#{$i} { margin-bottom: #{$i}em; }
    }
}

@mixin list-none{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

@mixin bg-image($filename, $position, $bgColor, $size){
    .bg-image-#{$filename}{
        background: url('/img/#{$filename}.jpg') no-repeat scroll #{$position} $bgColor;
        background-size: #{$size};
    }
}